Demo_verkeersboete/nifi-flow.json
{"flowContents":{"identifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","instanceIdentifier":"9ea739a3-0187-1000-f4b0-39d49cb433b4","name":"nifi-flow","comments":"","position":{"x":836.0,"y":293.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8a79e2cf-957d-3306-8941-3af124e8ca15","instanceIdentifier":"30e03dbe-ee10-1a0e-f0f1-3d28720f74b2","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","position":{"x":2608.0,"y":768.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.RDF4JRepositoryMaterialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"rdf4j-repository-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"Named graph":null,"Repository ID":"grar","RDF4J remote repository location":"http://graphdb:7200","Flowfiles to process simultaneously":"50"},"propertyDescriptors":{"Named graph":{"name":"Named graph","displayName":"Named graph","identifiesControllerService":false,"sensitive":false},"Repository ID":{"name":"Repository ID","displayName":"Repository ID","identifiesControllerService":false,"sensitive":false},"RDF4J remote repository location":{"name":"RDF4J remote repository location","displayName":"RDF4J remote repository location","identifiesControllerService":false,"sensitive":false},"Flowfiles to process simultaneously":{"name":"Flowfiles to process simultaneously","displayName":"Flowfiles to process simultaneously","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"a9f2e397-75af-3b11-8ef4-d40f7c4d251a","instanceIdentifier":"688be9dd-fa9a-3b62-4037-9133970a3d53","name":"SparqlConstructProcessor","comments":"","position":{"x":1960.0,"y":176.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"sparql-interactions-processor","version":"0.0.1-SNAPSHOT"},"properties":{"SPARQL_CONSTRUCT_QUERY":"CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}","INCLUDE_ORIGINAL":"false","DATA_SOURCE_FORMAT":"application/n-quads"},"propertyDescriptors":{"SPARQL_CONSTRUCT_QUERY":{"name":"SPARQL_CONSTRUCT_QUERY","displayName":"SPARQL Construct Query","identifiesControllerService":false,"sensitive":false},"INCLUDE_ORIGINAL":{"name":"INCLUDE_ORIGINAL","displayName":"Include original model","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"8b10e078-a078-3e38-90ae-084ff959780b","instanceIdentifier":"30e03dc4-ee10-1a0e-109c-d02ef33bd0fa","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1360.0,"y":984.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"version-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"19091946-547d-393b-978b-863d1b241a7e","instanceIdentifier":"6fe932a5-6a7d-3512-9a16-714ef8873742","name":"PostHTTP","comments":"","position":{"x":2008.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.PostHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Max Data to Post per Second":null,"Max Batch Size":"100 MB","Compression Level":"0","proxy-configuration-service":null,"Send as FlowFile":"false","User Agent":"Apache-HttpClient/4.5.13 (Java/18-ea)","Proxy Port":null,"URL":"http://ldes-server:8080/verkeersboete","Connection Timeout":"30 sec","Data Timeout":"30 sec","SSL Context Service":null,"Username":null,"Use Chunked Encoding":"false","Attributes to Send as HTTP Headers (Regex)":null,"Content-Type":"${mime.type}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Max Data to Post per Second":{"name":"Max Data to Post per Second","displayName":"Max Data to Post per Second","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Send as FlowFile":{"name":"Send as FlowFile","displayName":"Send as FlowFile","identifiesControllerService":false,"sensitive":false},"User Agent":{"name":"User Agent","displayName":"User Agent","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Attributes to Send as HTTP Headers (Regex)":{"name":"Attributes to Send as HTTP Headers (Regex)","displayName":"Attributes to Send as HTTP Headers (Regex)","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"e355137c-082e-37be-9499-8171199b1b05","instanceIdentifier":"931cc294-1b00-3d99-9baf-e27b5dc64064","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","position":{"x":2608.0,"y":152.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.RDF4JRepositoryMaterialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"rdf4j-repository-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"Named graph":null,"Repository ID":"verkeersboete","RDF4J remote repository location":"http://graphdb:7200","Flowfiles to process simultaneously":"50"},"propertyDescriptors":{"Named graph":{"name":"Named graph","displayName":"Named graph","identifiesControllerService":false,"sensitive":false},"Repository ID":{"name":"Repository ID","displayName":"Repository ID","identifiesControllerService":false,"sensitive":false},"RDF4J remote repository location":{"name":"RDF4J remote repository location","displayName":"RDF4J remote repository location","identifiesControllerService":false,"sensitive":false},"Flowfiles to process simultaneously":{"name":"Flowfiles to process simultaneously","displayName":"Flowfiles to process simultaneously","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"d9fa534b-4e08-3b8f-9c6f-c34aca0fdb29","instanceIdentifier":"fa9a3b64-e9dd-188b-bf2e-358bdfcd5129","name":"Parcels-LDES-Client","comments":"","position":{"x":680.0,"y":616.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ldes-client-processor","version":"0.0.1-SNAPSHOT"},"properties":{"STREAM_TIMESTAMP_PATH_PROPERTY":"false","MAX_RETRIES":"2147483647","DATA_SOURCE_FORMAT":"TURTLE","STREAM_VERSION_OF_PROPERTY":"false","STATE_PERSISTENCE_STRATEGY":"MEMORY","OAUTH_TOKEN_ENDPOINT":null,"DATA_DESTINATION_FORMAT":"application/n-quads","AUTHORIZATION_STRATEGY":"NO_AUTH","STREAM_SHAPE_PROPERTY":"false","DATA_SOURCE_URL":"https://grar.smartdataspace.dev-vlaanderen.be/parcels/by-page","API_KEY_HEADER_PROPERTY":"X-API-KEY","API_KEY_PROPERTY":null,"OAUTH_CLIENT_ID":null,"KEEP_STATE":"false","RETRIES_ENABLED":"false"},"propertyDescriptors":{"STREAM_TIMESTAMP_PATH_PROPERTY":{"name":"STREAM_TIMESTAMP_PATH_PROPERTY","displayName":"Stream TimestampPath property to FlowFile","identifiesControllerService":false,"sensitive":false},"MAX_RETRIES":{"name":"MAX_RETRIES","displayName":"Indicates max number of retries when retries are enabled.","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"STREAM_VERSION_OF_PROPERTY":{"name":"STREAM_VERSION_OF_PROPERTY","displayName":"Stream VersionOf property to FlowFile","identifiesControllerService":false,"sensitive":false},"STATE_PERSISTENCE_STRATEGY":{"name":"STATE_PERSISTENCE_STRATEGY","displayName":"How state is persisted (note that memory is volatile).","identifiesControllerService":false,"sensitive":false},"OAUTH_TOKEN_ENDPOINT":{"name":"OAUTH_TOKEN_ENDPOINT","displayName":"Token endpoint used for Oauth2 client credentials flow.","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"AUTHORIZATION_STRATEGY":{"name":"AUTHORIZATION_STRATEGY","displayName":"Authorization strategy for the internal http client.","identifiesControllerService":false,"sensitive":false},"STREAM_SHAPE_PROPERTY":{"name":"STREAM_SHAPE_PROPERTY","displayName":"Stream shape property to FlowFile","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false},"API_KEY_HEADER_PROPERTY":{"name":"API_KEY_HEADER_PROPERTY","displayName":"API header that should be used for the API key","identifiesControllerService":false,"sensitive":false},"API_KEY_PROPERTY":{"name":"API_KEY_PROPERTY","displayName":"API key that should be used to access the API.","identifiesControllerService":false,"sensitive":false},"OAUTH_CLIENT_SECRET":{"name":"OAUTH_CLIENT_SECRET","displayName":"Client secret used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":true},"OAUTH_CLIENT_ID":{"name":"OAUTH_CLIENT_ID","displayName":"Client id used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":false},"KEEP_STATE":{"name":"KEEP_STATE","displayName":"Keep state when the processor is removed from the flow","identifiesControllerService":false,"sensitive":false},"RETRIES_ENABLED":{"name":"RETRIES_ENABLED","displayName":"Indicates of retries are enabled when the http request fails.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"d198f24d-89f7-3771-ac80-731575927a23","instanceIdentifier":"30e03dc5-ee10-1a0e-ce90-a88983dcfa7b","name":"SparqlConstructProcessor","comments":"","position":{"x":1952.0,"y":976.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"sparql-interactions-processor","version":"0.0.1-SNAPSHOT"},"properties":{"SPARQL_CONSTRUCT_QUERY":"CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}","INCLUDE_ORIGINAL":"false","DATA_SOURCE_FORMAT":"application/n-quads"},"propertyDescriptors":{"SPARQL_CONSTRUCT_QUERY":{"name":"SPARQL_CONSTRUCT_QUERY","displayName":"SPARQL Construct Query","identifiesControllerService":false,"sensitive":false},"INCLUDE_ORIGINAL":{"name":"INCLUDE_ORIGINAL","displayName":"Include original model","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"aa4534a5-6b9e-311b-bf0b-098863ef3f04","instanceIdentifier":"4ebc3857-5d3d-3fea-df87-193dbdf4043f","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1368.0,"y":184.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"version-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"cf8e101c-20a0-3367-b8fe-51de71440041","instanceIdentifier":"30e03dbf-ee10-1a0e-7984-f69c547d6081","name":"BuildingUnits-LdesClient","comments":"","position":{"x":680.0,"y":800.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ldes-client-processor","version":"0.0.1-SNAPSHOT"},"properties":{"STREAM_TIMESTAMP_PATH_PROPERTY":"false","MAX_RETRIES":"2147483647","DATA_SOURCE_FORMAT":"TURTLE","STREAM_VERSION_OF_PROPERTY":"false","STATE_PERSISTENCE_STRATEGY":"MEMORY","OAUTH_TOKEN_ENDPOINT":null,"DATA_DESTINATION_FORMAT":"application/n-quads","AUTHORIZATION_STRATEGY":"NO_AUTH","STREAM_SHAPE_PROPERTY":"false","DATA_SOURCE_URL":"https://grar.smartdataspace.dev-vlaanderen.be/building-units/by-page","API_KEY_HEADER_PROPERTY":"X-API-KEY","API_KEY_PROPERTY":null,"OAUTH_CLIENT_ID":null,"KEEP_STATE":"false","RETRIES_ENABLED":"false"},"propertyDescriptors":{"STREAM_TIMESTAMP_PATH_PROPERTY":{"name":"STREAM_TIMESTAMP_PATH_PROPERTY","displayName":"Stream TimestampPath property to FlowFile","identifiesControllerService":false,"sensitive":false},"MAX_RETRIES":{"name":"MAX_RETRIES","displayName":"Indicates max number of retries when retries are enabled.","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"STREAM_VERSION_OF_PROPERTY":{"name":"STREAM_VERSION_OF_PROPERTY","displayName":"Stream VersionOf property to FlowFile","identifiesControllerService":false,"sensitive":false},"STATE_PERSISTENCE_STRATEGY":{"name":"STATE_PERSISTENCE_STRATEGY","displayName":"How state is persisted (note that memory is volatile).","identifiesControllerService":false,"sensitive":false},"OAUTH_TOKEN_ENDPOINT":{"name":"OAUTH_TOKEN_ENDPOINT","displayName":"Token endpoint used for Oauth2 client credentials flow.","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"AUTHORIZATION_STRATEGY":{"name":"AUTHORIZATION_STRATEGY","displayName":"Authorization strategy for the internal http client.","identifiesControllerService":false,"sensitive":false},"STREAM_SHAPE_PROPERTY":{"name":"STREAM_SHAPE_PROPERTY","displayName":"Stream shape property to FlowFile","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false},"API_KEY_HEADER_PROPERTY":{"name":"API_KEY_HEADER_PROPERTY","displayName":"API header that should be used for the API key","identifiesControllerService":false,"sensitive":false},"API_KEY_PROPERTY":{"name":"API_KEY_PROPERTY","displayName":"API key that should be used to access the API.","identifiesControllerService":false,"sensitive":false},"OAUTH_CLIENT_SECRET":{"name":"OAUTH_CLIENT_SECRET","displayName":"Client secret used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":true},"OAUTH_CLIENT_ID":{"name":"OAUTH_CLIENT_ID","displayName":"Client id used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":false},"KEEP_STATE":{"name":"KEEP_STATE","displayName":"Keep state when the processor is removed from the flow","identifiesControllerService":false,"sensitive":false},"RETRIES_ENABLED":{"name":"RETRIES_ENABLED","displayName":"Indicates of retries are enabled when the http request fails.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"16c21df6-3ba4-3732-a098-16683cfba138","instanceIdentifier":"30e03dbd-ee10-1a0e-a8b3-e5e632464195","name":"SparqlConstructProcessor","comments":"","position":{"x":1960.0,"y":792.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"sparql-interactions-processor","version":"0.0.1-SNAPSHOT"},"properties":{"SPARQL_CONSTRUCT_QUERY":"CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}","INCLUDE_ORIGINAL":"false","DATA_SOURCE_FORMAT":"application/n-quads"},"propertyDescriptors":{"SPARQL_CONSTRUCT_QUERY":{"name":"SPARQL_CONSTRUCT_QUERY","displayName":"SPARQL Construct Query","identifiesControllerService":false,"sensitive":false},"INCLUDE_ORIGINAL":{"name":"INCLUDE_ORIGINAL","displayName":"Include original model","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"ab54ba11-f457-300a-b5bb-9bcb1d87e796","instanceIdentifier":"caaa4ee3-2697-36bc-f21f-647ed6911891","name":"LdesClient","comments":"","position":{"x":680.0,"y":184.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ldes-client-processor","version":"0.0.1-SNAPSHOT"},"properties":{"STREAM_TIMESTAMP_PATH_PROPERTY":"false","MAX_RETRIES":"2147483647","DATA_SOURCE_FORMAT":"application/ld+json","STREAM_VERSION_OF_PROPERTY":"false","STATE_PERSISTENCE_STRATEGY":"MEMORY","OAUTH_TOKEN_ENDPOINT":null,"DATA_DESTINATION_FORMAT":"application/n-quads","AUTHORIZATION_STRATEGY":"NO_AUTH","STREAM_SHAPE_PROPERTY":"false","DATA_SOURCE_URL":"http://SamuelVanAckere:8080/verkeersboete","API_KEY_HEADER_PROPERTY":"X-API-KEY","API_KEY_PROPERTY":null,"OAUTH_CLIENT_ID":null,"KEEP_STATE":"false","RETRIES_ENABLED":"false"},"propertyDescriptors":{"STREAM_TIMESTAMP_PATH_PROPERTY":{"name":"STREAM_TIMESTAMP_PATH_PROPERTY","displayName":"Stream TimestampPath property to FlowFile","identifiesControllerService":false,"sensitive":false},"MAX_RETRIES":{"name":"MAX_RETRIES","displayName":"Indicates max number of retries when retries are enabled.","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"STREAM_VERSION_OF_PROPERTY":{"name":"STREAM_VERSION_OF_PROPERTY","displayName":"Stream VersionOf property to FlowFile","identifiesControllerService":false,"sensitive":false},"STATE_PERSISTENCE_STRATEGY":{"name":"STATE_PERSISTENCE_STRATEGY","displayName":"How state is persisted (note that memory is volatile).","identifiesControllerService":false,"sensitive":false},"OAUTH_TOKEN_ENDPOINT":{"name":"OAUTH_TOKEN_ENDPOINT","displayName":"Token endpoint used for Oauth2 client credentials flow.","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"AUTHORIZATION_STRATEGY":{"name":"AUTHORIZATION_STRATEGY","displayName":"Authorization strategy for the internal http client.","identifiesControllerService":false,"sensitive":false},"STREAM_SHAPE_PROPERTY":{"name":"STREAM_SHAPE_PROPERTY","displayName":"Stream shape property to FlowFile","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false},"API_KEY_HEADER_PROPERTY":{"name":"API_KEY_HEADER_PROPERTY","displayName":"API header that should be used for the API key","identifiesControllerService":false,"sensitive":false},"API_KEY_PROPERTY":{"name":"API_KEY_PROPERTY","displayName":"API key that should be used to access the API.","identifiesControllerService":false,"sensitive":false},"OAUTH_CLIENT_SECRET":{"name":"OAUTH_CLIENT_SECRET","displayName":"Client secret used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":true},"OAUTH_CLIENT_ID":{"name":"OAUTH_CLIENT_ID","displayName":"Client id used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":false},"KEEP_STATE":{"name":"KEEP_STATE","displayName":"Keep state when the processor is removed from the flow","identifiesControllerService":false,"sensitive":false},"RETRIES_ENABLED":{"name":"RETRIES_ENABLED","displayName":"Indicates of retries are enabled when the http request fails.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"50158900-4094-3969-8d73-5e68ce643a6a","instanceIdentifier":"30e03dbc-ee10-1a0e-e774-d471d4f86605","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1368.0,"y":800.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"version-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"40103548-ac8a-36c9-93bc-f6d6ecd7b7e7","instanceIdentifier":"5d3d3fea-3857-1ebc-fcb5-0234b6b8eadc","name":"VersionMaterialiseProcessor","comments":"","position":{"x":1368.0,"y":616.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"version-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"fe62eebd-2bd0-3d6c-b4ae-a080dc086f32","instanceIdentifier":"e2dcf285-0eb5-3f6d-dc10-b6ecb136eea6","name":"ListenHTTP","comments":"","position":{"x":744.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"9004"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"8e448877-bc67-373d-a76b-1d7b47da96ec","instanceIdentifier":"fa9a3b62-e9dd-188b-792d-02f40d55f9c9","name":"SparqlConstructProcessor","comments":"","position":{"x":1960.0,"y":608.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"sparql-interactions-processor","version":"0.0.1-SNAPSHOT"},"properties":{"SPARQL_CONSTRUCT_QUERY":"CONSTRUCT {?s ?p ?o} WHERE {?s ?p ?o}","INCLUDE_ORIGINAL":"false","DATA_SOURCE_FORMAT":"application/n-quads"},"propertyDescriptors":{"SPARQL_CONSTRUCT_QUERY":{"name":"SPARQL_CONSTRUCT_QUERY","displayName":"SPARQL Construct Query","identifiesControllerService":false,"sensitive":false},"INCLUDE_ORIGINAL":{"name":"INCLUDE_ORIGINAL","displayName":"Include original model","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"bf167ecb-e372-365b-97c4-8ae9ca11e7fa","instanceIdentifier":"81669145-77a1-3110-314e-02c8e076dd61","name":"CreateVersionObjectProcessor","comments":"","position":{"x":1384.032042269028,"y":-218.48313727787001},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"create-version-object-processor","version":"0.0.1-SNAPSHOT"},"properties":{"DATE_OBSERVED_VALUE_RDF_PROPERTY":"https://uri.etsi.org/ngsi-ld/observedAt","GENERATED_AT_TIME_PROPERTY":"http://www.w3.org/ns/prov#generatedAtTime","DATA_DESTINATION_FORMAT":"n-quads","MEMBER_RDF_SYNTAX_TYPE":"https://politiezonex.be/ns/verkeersboete#Verkeersboete","DELIMITER":"/","VERSION_OF_KEY":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"DATE_OBSERVED_VALUE_RDF_PROPERTY":{"name":"DATE_OBSERVED_VALUE_RDF_PROPERTY","displayName":"RDF property to find the timestamp value","identifiesControllerService":false,"sensitive":false},"GENERATED_AT_TIME_PROPERTY":{"name":"GENERATED_AT_TIME_PROPERTY","displayName":"GeneratedAtTime property","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"MEMBER_RDF_SYNTAX_TYPE":{"name":"MEMBER_RDF_SYNTAX_TYPE","displayName":"IRI to member RDF syntax type","identifiesControllerService":false,"sensitive":false},"DELIMITER":{"name":"DELIMITER","displayName":"Delimiter between entity ID and timestamp value","identifiesControllerService":false,"sensitive":false},"VERSION_OF_KEY":{"name":"VERSION_OF_KEY","displayName":"VersionOf Property","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unparseable"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"b2a4b116-8ab9-3991-8e9f-2c1e978623b0","instanceIdentifier":"fa9a3b63-e9dd-188b-65a8-1095139ccd71","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","position":{"x":2608.0,"y":584.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.RDF4JRepositoryMaterialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"rdf4j-repository-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"Named graph":null,"Repository ID":"grar","RDF4J remote repository location":"http://graphdb:7200","Flowfiles to process simultaneously":"50"},"propertyDescriptors":{"Named graph":{"name":"Named graph","displayName":"Named graph","identifiesControllerService":false,"sensitive":false},"Repository ID":{"name":"Repository ID","displayName":"Repository ID","identifiesControllerService":false,"sensitive":false},"RDF4J remote repository location":{"name":"RDF4J remote repository location","displayName":"RDF4J remote repository location","identifiesControllerService":false,"sensitive":false},"Flowfiles to process simultaneously":{"name":"Flowfiles to process simultaneously","displayName":"Flowfiles to process simultaneously","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"fc70ae04-a741-33ae-8ef7-81c008c68345","instanceIdentifier":"30e03dc7-ee10-1a0e-398f-f968276384e7","name":"Addresses_LdesClient","comments":"","position":{"x":672.0,"y":984.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ldes-client-processor","version":"0.0.1-SNAPSHOT"},"properties":{"STREAM_TIMESTAMP_PATH_PROPERTY":"false","MAX_RETRIES":"2147483647","DATA_SOURCE_FORMAT":"TURTLE","STREAM_VERSION_OF_PROPERTY":"false","STATE_PERSISTENCE_STRATEGY":"MEMORY","OAUTH_TOKEN_ENDPOINT":null,"DATA_DESTINATION_FORMAT":"application/n-quads","AUTHORIZATION_STRATEGY":"NO_AUTH","STREAM_SHAPE_PROPERTY":"false","DATA_SOURCE_URL":"https://grar.smartdataspace.dev-vlaanderen.be/addresses/by-time","API_KEY_HEADER_PROPERTY":"X-API-KEY","API_KEY_PROPERTY":null,"OAUTH_CLIENT_ID":null,"KEEP_STATE":"false","RETRIES_ENABLED":"false"},"propertyDescriptors":{"STREAM_TIMESTAMP_PATH_PROPERTY":{"name":"STREAM_TIMESTAMP_PATH_PROPERTY","displayName":"Stream TimestampPath property to FlowFile","identifiesControllerService":false,"sensitive":false},"MAX_RETRIES":{"name":"MAX_RETRIES","displayName":"Indicates max number of retries when retries are enabled.","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"STREAM_VERSION_OF_PROPERTY":{"name":"STREAM_VERSION_OF_PROPERTY","displayName":"Stream VersionOf property to FlowFile","identifiesControllerService":false,"sensitive":false},"STATE_PERSISTENCE_STRATEGY":{"name":"STATE_PERSISTENCE_STRATEGY","displayName":"How state is persisted (note that memory is volatile).","identifiesControllerService":false,"sensitive":false},"OAUTH_TOKEN_ENDPOINT":{"name":"OAUTH_TOKEN_ENDPOINT","displayName":"Token endpoint used for Oauth2 client credentials flow.","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"AUTHORIZATION_STRATEGY":{"name":"AUTHORIZATION_STRATEGY","displayName":"Authorization strategy for the internal http client.","identifiesControllerService":false,"sensitive":false},"STREAM_SHAPE_PROPERTY":{"name":"STREAM_SHAPE_PROPERTY","displayName":"Stream shape property to FlowFile","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false},"API_KEY_HEADER_PROPERTY":{"name":"API_KEY_HEADER_PROPERTY","displayName":"API header that should be used for the API key","identifiesControllerService":false,"sensitive":false},"API_KEY_PROPERTY":{"name":"API_KEY_PROPERTY","displayName":"API key that should be used to access the API.","identifiesControllerService":false,"sensitive":false},"OAUTH_CLIENT_SECRET":{"name":"OAUTH_CLIENT_SECRET","displayName":"Client secret used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":true},"OAUTH_CLIENT_ID":{"name":"OAUTH_CLIENT_ID","displayName":"Client id used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":false},"KEEP_STATE":{"name":"KEEP_STATE","displayName":"Keep state when the processor is removed from the flow","identifiesControllerService":false,"sensitive":false},"RETRIES_ENABLED":{"name":"RETRIES_ENABLED","displayName":"Indicates of retries are enabled when the http request fails.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"f1a29793-d8ec-312b-92f2-0f9b3618d7f3","instanceIdentifier":"30e03dc6-ee10-1a0e-52c2-94f75f32b80e","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","position":{"x":2600.0,"y":952.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.RDF4JRepositoryMaterialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"rdf4j-repository-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"Named graph":null,"Repository ID":"grar","RDF4J remote repository location":"http://graphdb:7200","Flowfiles to process simultaneously":"50"},"propertyDescriptors":{"Named graph":{"name":"Named graph","displayName":"Named graph","identifiesControllerService":false,"sensitive":false},"Repository ID":{"name":"Repository ID","displayName":"Repository ID","identifiesControllerService":false,"sensitive":false},"RDF4J remote repository location":{"name":"RDF4J remote repository location","displayName":"RDF4J remote repository location","identifiesControllerService":false,"sensitive":false},"Flowfiles to process simultaneously":{"name":"Flowfiles to process simultaneously","displayName":"Flowfiles to process simultaneously","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"865747fe-960e-381b-9d0f-1c624ef8684d","instanceIdentifier":"f008806e-4c20-3152-6946-1152b8367b05","name":"","source":{"id":"fe62eebd-2bd0-3d6c-b4ae-a080dc086f32","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"ListenHTTP","comments":"","instanceIdentifier":"e2dcf285-0eb5-3f6d-dc10-b6ecb136eea6"},"destination":{"id":"bf167ecb-e372-365b-97c4-8ae9ca11e7fa","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"CreateVersionObjectProcessor","comments":"","instanceIdentifier":"81669145-77a1-3110-314e-02c8e076dd61"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"5d94f6bb-0827-33ed-9a8e-c4e4c22be852","instanceIdentifier":"fa9a3b65-e9dd-188b-c4a7-a765829da032","name":"","source":{"id":"40103548-ac8a-36c9-93bc-f6d6ecd7b7e7","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"5d3d3fea-3857-1ebc-fcb5-0234b6b8eadc"},"destination":{"id":"8e448877-bc67-373d-a76b-1d7b47da96ec","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"fa9a3b62-e9dd-188b-792d-02f40d55f9c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"76a16ca3-cda6-3144-91c7-fe24f7ffcebc","instanceIdentifier":"30e03dc2-ee10-1a0e-66f1-ebc9d2669a00","name":"","source":{"id":"16c21df6-3ba4-3732-a098-16683cfba138","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"30e03dbd-ee10-1a0e-a8b3-e5e632464195"},"destination":{"id":"8a79e2cf-957d-3306-8941-3af124e8ca15","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","instanceIdentifier":"30e03dbe-ee10-1a0e-f0f1-3d28720f74b2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"86a455eb-8e5d-3e4c-85cc-abff1130f54a","instanceIdentifier":"32b4aadf-226d-3d12-3e4c-b64cf3248479","name":"","source":{"id":"bf167ecb-e372-365b-97c4-8ae9ca11e7fa","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"CreateVersionObjectProcessor","comments":"","instanceIdentifier":"81669145-77a1-3110-314e-02c8e076dd61"},"destination":{"id":"19091946-547d-393b-978b-863d1b241a7e","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"PostHTTP","comments":"","instanceIdentifier":"6fe932a5-6a7d-3512-9a16-714ef8873742"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"7e92025e-7e77-3e7a-8bf0-e09e09237c11","instanceIdentifier":"30e03dc9-ee10-1a0e-b2af-ec3b2bfef12a","name":"","source":{"id":"8b10e078-a078-3e38-90ae-084ff959780b","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"30e03dc4-ee10-1a0e-109c-d02ef33bd0fa"},"destination":{"id":"d198f24d-89f7-3771-ac80-731575927a23","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"30e03dc5-ee10-1a0e-ce90-a88983dcfa7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"7fd93416-651b-305e-9a43-c39fbe5d1746","instanceIdentifier":"df16f37a-6e3f-3cc1-e385-f4dd9cf6b1b3","name":"","source":{"id":"ab54ba11-f457-300a-b5bb-9bcb1d87e796","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"LdesClient","comments":"","instanceIdentifier":"caaa4ee3-2697-36bc-f21f-647ed6911891"},"destination":{"id":"aa4534a5-6b9e-311b-bf0b-098863ef3f04","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"4ebc3857-5d3d-3fea-df87-193dbdf4043f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"ad549f29-c33a-3f23-96a2-15e3f10ee261","instanceIdentifier":"30e03dc8-ee10-1a0e-1fc2-a3e67181b250","name":"","source":{"id":"fc70ae04-a741-33ae-8ef7-81c008c68345","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"Addresses_LdesClient","comments":"","instanceIdentifier":"30e03dc7-ee10-1a0e-398f-f968276384e7"},"destination":{"id":"8b10e078-a078-3e38-90ae-084ff959780b","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"30e03dc4-ee10-1a0e-109c-d02ef33bd0fa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"c223239a-095c-304e-b9b7-91ce70cc19f7","instanceIdentifier":"30e03dc0-ee10-1a0e-222d-a2d68dadf5bc","name":"","source":{"id":"cf8e101c-20a0-3367-b8fe-51de71440041","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"BuildingUnits-LdesClient","comments":"","instanceIdentifier":"30e03dbf-ee10-1a0e-7984-f69c547d6081"},"destination":{"id":"50158900-4094-3969-8d73-5e68ce643a6a","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"30e03dbc-ee10-1a0e-e774-d471d4f86605"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"e1c1ad36-ac55-3b32-8775-b96eeb590f10","instanceIdentifier":"30e03dba-ee10-1a0e-0bc5-dffe876115ab","name":"","source":{"id":"d9fa534b-4e08-3b8f-9c6f-c34aca0fdb29","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"Parcels-LDES-Client","comments":"","instanceIdentifier":"fa9a3b64-e9dd-188b-bf2e-358bdfcd5129"},"destination":{"id":"40103548-ac8a-36c9-93bc-f6d6ecd7b7e7","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"5d3d3fea-3857-1ebc-fcb5-0234b6b8eadc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"f6b0338d-eddb-3db1-ad30-f465f9cb9b94","instanceIdentifier":"5af4d678-e1c3-3c8a-1f15-5359e36deaab","name":"","source":{"id":"aa4534a5-6b9e-311b-bf0b-098863ef3f04","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"4ebc3857-5d3d-3fea-df87-193dbdf4043f"},"destination":{"id":"a9f2e397-75af-3b11-8ef4-d40f7c4d251a","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"688be9dd-fa9a-3b62-4037-9133970a3d53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"0f3608ce-7991-35a9-89bf-e445d61c6a04","instanceIdentifier":"30e03dca-ee10-1a0e-d113-1bb7327c4d2f","name":"","source":{"id":"d198f24d-89f7-3771-ac80-731575927a23","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"30e03dc5-ee10-1a0e-ce90-a88983dcfa7b"},"destination":{"id":"f1a29793-d8ec-312b-92f2-0f9b3618d7f3","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","instanceIdentifier":"30e03dc6-ee10-1a0e-52c2-94f75f32b80e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"fcdbd9f6-8039-3605-a146-67c11916ffd3","instanceIdentifier":"30e03db9-ee10-1a0e-e2db-874e7b4d308d","name":"","source":{"id":"8e448877-bc67-373d-a76b-1d7b47da96ec","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"fa9a3b62-e9dd-188b-792d-02f40d55f9c9"},"destination":{"id":"b2a4b116-8ab9-3991-8e9f-2c1e978623b0","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","instanceIdentifier":"fa9a3b63-e9dd-188b-65a8-1095139ccd71"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"fcdf3102-803f-3f67-a84d-329ed48c3efe","instanceIdentifier":"30e03dc1-ee10-1a0e-a002-42a88c8cf227","name":"","source":{"id":"50158900-4094-3969-8d73-5e68ce643a6a","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"VersionMaterialiseProcessor","comments":"","instanceIdentifier":"30e03dbc-ee10-1a0e-e774-d471d4f86605"},"destination":{"id":"16c21df6-3ba4-3732-a098-16683cfba138","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"30e03dbd-ee10-1a0e-a8b3-e5e632464195"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"8a239fae-61c7-3f94-90e9-7e58e7e32035","instanceIdentifier":"6a0eee10-30e0-3db9-d0be-a431da2d2719","name":"","source":{"id":"a9f2e397-75af-3b11-8ef4-d40f7c4d251a","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"SparqlConstructProcessor","comments":"","instanceIdentifier":"688be9dd-fa9a-3b62-4037-9133970a3d53"},"destination":{"id":"e355137c-082e-37be-9499-8171199b1b05","type":"PROCESSOR","groupId":"c8d2908d-4759-335f-8b57-6f4244e0c9d3","name":"RDF4JRepositoryMaterialisationProcessor","comments":"","instanceIdentifier":"931cc294-1b00-3d99-9baf-e27b5dc64064"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"}],"labels":[{"identifier":"4e76a09b-c576-3e3a-afe5-0a0e7dfc61ac","instanceIdentifier":"9ec2068c-0187-1000-dbb3-3adab298414a","position":{"x":624.0,"y":552.0},"label":"Apache NiFi flow om GRAR LDES naar GraphDB weg te schrijven gebruik makend van LDES Client","zIndex":0,"width":2408.0,"height":608.0,"style":{"background-color":"#d6ffdb","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"0f4d46ee-d2fa-36b5-a94e-96f73a60041f","instanceIdentifier":"9ebc6176-0187-1000-6e00-e5b26f491a2e","position":{"x":736.0,"y":-360.0},"label":"Apache NiFi flow om jsonld file om te zetten naar versie object om daarna te sturen naar de LDES server","zIndex":0,"width":1640.0,"height":336.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"},{"identifier":"7c1bf225-3d26-3d2c-88c7-5e26f1c80b24","instanceIdentifier":"9ebd663a-0187-1000-f6f8-06ab9c06463b","position":{"x":624.0,"y":104.0},"label":"Apache NiFi flow om lokaal gepubliceerde LDES (verkeersboete) naar GraphDB weg te schrijven gebruik makend van LDES Client","zIndex":0,"width":2360.0,"height":256.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"c8d2908d-4759-335f-8b57-6f4244e0c9d3"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}